<h2><font color=red><%= flash[:notice] %></font></h2>
<TABLE cellspacing=0 cellpadding=0 border=0 align=center>
<TR><TD valign=top align=center>
<h1>Listing products</h1>
<p>
<table cellspacing=5 cellpadding=0 border=1>
<% @products.each do |o_product| %>
  <tr valign=top>
    <td><%= image_tag o_product.image_url, :height => 60, :width => 60 %></td>
    <td width=250 ><b><%= o_product.title %></b><p><%= o_product.description %></p></td> 
    <td><b><%= number_to_currency(o_product.price, :unit => "&pound;") %></b>
      <%= button_to "Add to\nCart" , {:action => :add_to_cart, :id => o_product.id}, :remote => true %>
      
</td>   
  </tr>
<% end %>
</table>
</p>
</TD><TD width=250 valign=top align=center>
<div id="webcart">
<%= render(:partial => "cart" , :object => @cart) %>
</div>
</TD></TR></TABLE>

<%= debug(params) if Rails.env.development? %>

